{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Controle de estoque</title>

      <link  href="{% static 'estoque/bootstrap/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'estoque/css/estilo.css'%}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>


</head >
<body >
{% include 'estoque/header.html' %}

{% block main_content%}


{% endblock %}


{% include 'estoque/footer.html' %}
</body>
</html>