{% extends 'estoque/base.html' %}

{% block main_content %}




<p>Utilize o formulário abaixo para efetuar o cadastro</p>

<form method="POST" action="{% url 'estoque:cadastrar' %}">

    {% csrf_token %}

    {{ form.codigo }}

    <div class="form-group row" style="margin-botton:10px;">
        <label class="col-sm-1">
             {{ form.nome.label }}
        </label>
        <div class="col-sm-5">
            {{ form.nome}}
        </div>

    </div>


    <br/>

    <div class="form-group row" style="margin-botton:10px;">
        <label class="col-sm-1">
            {{ form.preco.label }}
        </label>
        <div class="col-sm-5">
            {{ form.preco}}
        </div>

    </div>


    <br/>

    <div class="form-group row" style="margin-botton:10px;">
        <label class="col-sm-1">
            {{ form.quantidade.label }}
        </label>
        <div class="col-sm-5">
            {{ form.quantidade}}
        </div>

    </div>


    <br/>

    <input type="submit"value="Cadastrar" class="btn btn-success">


</form>

{% if msg %} {{ msg }} {% endif %}

{% endblock %}

