{% extends 'estoque/base.html' %}

{% block main_content %}




<p>Utilize o formulário abaixo para efetuar o cadastro</p>

<form method="POST" action="{% url 'estoque:cadastrar' %}">

    {% csrf_token %}

    {{ form.codigo }}

    {{ form.nome.label }}
    {{ form.nome}}
    <br/>
    <br/>
    {{ form.preco.label }}
    {{ form.preco}}
    <br/>
    <br/>
    {{ form.quantidade.label }}
    {{ form.quantidade}}
    <br/>
    <br/>

    <input type="submit"value="Cadastrar">


</form>

{% if msg %} {{ msg }} {% endif %}

{% endblock %}

