{% load static %}
 <hr/>





    <div class="row">


        <div class="col-9 fw-bold text-decoration-underline">
        Este sistema foi desenvolvido por André Felipe,
        um estudante entusiasta de Python. © [2023] Todos os direitos reservados.

    </div>

        <br>
        <br>

        <div >

            <a href="https://www.linkedin.com/in/andrefelipe-dev/"><img src="{% static 'estoque/imagens/linkedin.svg' %}"></a>
            <a href="https://github.com/AndreFelipe-dev"><img src="{% static 'estoque/imagens/github.svg' %}"></a>
        </div>




    </div>

