{%load static%}
 <hr/>


    <div class="row">
        <div class="font-monospace">
            Este sistema foi desenvolvido por André Felipe,
            um estudante entusiasta de Python. © [2023] Todos os direitos reservados.
        </div>
            <br>
            <br>
        <div class="col-sm-9">
            <a href="https://www.linkedin.com/in/andrefelipe-dev/"><img src="{% static 'estoque/imagens/linkedin.svg' %}" alt="ícone Linkedin"></a>
            <a href="https://github.com/AndreFelipe-dev"><img src="{% static 'estoque/imagens/github.svg' %}" alt="ícone github"></a>
        </div>
    </div>