
{% extends 'estoque/base.html' %}

{% block main_content %}







<p class="fw-bold text-decoration-underline">Listagem de produtos </p>

{% if produtos or produtos|length > 0 %}

<table class="table table-dark table-hover table-striped">
    <thead>
    <tr align="center">
        <th> Código </th>
        <th> Nome </th>
        <th> Preço </th>
        <th> Quantidade </th>
        <th> Operações </th>
    </tr>
    </thead>
    <tbody>

     {% for p in  produtos%}

<tr align="center">

     <td>{{ p.codigo }}</td>
     <td>{{ p.nome }}</td>
     <td>{{ p.preco }}</td>
     <td>{{ p.quantidade }}</td>
     <td><a href="{% url 'estoque:excluir' codigo=p.codigo %}"
            onclick=" return window.confirm('Deseja realmente excluir?')" class="btn btn-outline-danger"> Excluir </a>
         <a href="{% url 'estoque:alterar' codigo=p.codigo %}" class="btn btn-outline-success"> Atualizar</a></td>

</tr>


    {% endfor %}

    </tbody>

    {% if msg %} {{ msg }} {% endif %}




</table>
{% else %}

 <p>Não há produtos cadastrados.</p>

{% endif %}

{% endblock %}

